.body {
  margin: 0;
}

.wrapper {
  background: radial-gradient(rgb(83, 83, 83), white);
}
* {
  box-sizing: border-box;
}
.img1 {
  height: 100vh;
  background: lightgreen url(./img/p.jpg) no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.hero {
  width: 450px;
  /* height: 800px; */
  color: white;
  background: rgba(255, 244, 244, 0.186);
  border-radius: 8px;
  padding: 2rem;
  z-index: 10;
  /* thicknes, border, opacity */
  border: 3px solid rgba(255, 255, 255, 0.408);
  backdrop-filter: blur(5px);
}
section {
  width: 80%;
  margin: auto;
}
.img2 {
  background: url(./img/n.jpg) no-repeat center center;
  height: 60vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  background: rgba(255, 255, 255, 0.393);
  padding: 20px 48px;
  color: darkkhaki;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 10px;
  border-radius: 5px;
}
.img3 {
  background: url(./img/l.jpg) no-repeat center center;
  height: 60vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img4 {
  background: url(./img/q.jpg) no-repeat center center;
  height: 60vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img1,
.img2,
.img3,
.img4 {
  background-attachment: fixed;
}

.round {
  background: linear-gradient(red, yellow);
  width: 100px;
  height: 100px;
  border-radius: 50% 50%;
  position: relative;
  top: -70px;
  left: 60px;
}
/* thicknes, border, opacity */
.down-hero {
  font-size: 3rem;
  font-weight: bolder;
  position: absolute;
  bottom: 50px;
  color: yellow;
  transform: rotate(90deg);

  animation: go-down 1s infinite;
}

@keyframes go-down {
  0% {
    bottom: 80px;
  }
  50% {
    color: red;
  }
  100% {
    bottom: 10px;
  }
}
